.container{
    width: 800px;
    height: 500px;
}
.title{
    width: 100%;
    height: 35px;
    background-color: #1B5AC5;
    color: #fff;
    cursor: pointer;
    line-height: 35px;
    padding-left: 10px;
    margin-top: 3px;
}
.content{
    width: 100%;
    height: 0;
    transition: height 0.5s;
    overflow: hidden;
}