@font-face {
    font-family: "glyphicons";
    src:url(../fonts/glyphicons-halflings-regular.ttf);
}
body{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "glyphicons", serif;
}
a{
    color: #fff;
}
.container{
    width: 100vw;
    height: 60vh;
    background-color: #000;
    float: left;/*overflow:hidden*/
}
@media all and (min-width:1001px){
    .container{
        background-color: deepskyblue;
    }
    .container li:before{
        content: "\2709";
        color: blue;
    }
    .container li a:after{
        content: attr(data-email);
    }
}
@media screen and (min-width: 800px) and (max-width: 1001px){
    .container{
        background-color: navy;
    }
}
@media screen and (min-width: 400px) and (max-width: 800px){
    .container{
        background-color: darkcyan;
    }
    .container li:before{
        content: "\2709";
        color: blue;
    }
}
li{
    list-style: none;
}