.bg{
    background-image: url("../images/bg.png");
    background-size: 100vw 100vh;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    display: flex;
}
.list{
    width: 0;
    height: 0;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 50px;
    visibility: hidden;
    overflow: hidden;
    transition:0.5s;
}
.bottom{
    width: 100vw;
    height: 50px;
    background-color: rgba(0,0,0,0.7);
}
.bottom label{
    content: "vskr";
    color: white;
    font-size: 2vw;
    font-weight: 900;
    position: relative;
}
#checked{
    visibility: hidden;
}
#checked:checked+.list{
    visibility: visible;
    width: 60%;
    height: 60%;
}
.list div{
    width: 24%;
    height: 24%;
    color: white;
    font-weight: 900;
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: transform 1s;
}
.top{
    display: none;
}
.bottom-mo{
    display: none;
}